In [16]:
# Dependancies
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import matplotlib.colors as colors
import numpy as np
import requests
import time
from pprint import pprint
import gmaps
import gmaps.geojson_geometries
from config import gkey, ckey

## Load crime statistics by state and filter for 2017

In [25]:
# Load crime statistics by state for all years
crime_df = pd.read_csv('data/crime_by_state.csv')

# Filter out all years except for 2017 (the latest). 
crime2017_df = crime_df[crime_df['year'] == 2017]
crime2017_df.head()

,year,state_abbr,state_id,population,aggravated_assault,arson,burglary,homicide,larceny,motor_vehicle_theft,property_crime,rape_legacy,rape_revised,robbery,violent_crime
17,2017,AL,2,4874747,18902,703.0,31477,404,99842,12841,144160,0,2028.0,4217,25551
56,2017,AK,1,739795,4257,139.0,4171,62,17775,4258,26204,0,863.0,951,6133
103,2017,AZ,5,7016270,24207,1183.0,37627,416,147830,19058,204515,0,3581.0,7440,35644
119,2017,AR,3,3004279,12425,534.0,21862,258,63374,7253,92489,0,2053.0,1935,16671
161,2017,CA,6,39536653,104454,8648.0,176690,1830,642033,168391,987114,0,14721.0,56622,177627

## Crime statistics per 100 people

- Remove all columns except 'violent crime' and 'property crime'
- Normalize by state population
- Sort dataframe to see top five and bottom five states
- Create a list of five worst and five best states for agency data requests

In [26]:
crime2017_df = crime2017_df[['state_abbr', 'violent_crime', 'property_crime', 'population']]
crime2017_df['violent_crime_per100'] = crime2017_df['violent_crime']*100/crime2017_df['population']
crime2017_df['property_crime_per100'] = crime2017_df['property_crime']*100/crime2017_df['population']
crime2017_df['total_crime_per100'] = crime2017_df['violent_crime_per100']+crime2017_df['property_crime_per100']
crime2017_df.head()

,state_abbr,violent_crime,property_crime,population,violent_crime_per100,property_crime_per100,total_crime_per100
17,AL,25551,144160,4874747,0.524150,2.957282,3.481432
56,AK,6133,26204,739795,0.829013,3.542062,4.371076
103,AZ,35644,204515,7016270,0.508019,2.914868,3.422887
119,AR,16671,92489,3004279,0.554909,3.078576,3.633484
161,CA,177627,987114,39536653,0.449272,2.496706,2.945978

In [27]:
top_five= crime2017_df.sort_values(by = ['total_crime_per100'], ascending = False)[:5]
top_five

,state_abbr,violent_crime,property_crime,population,violent_crime_per100,property_crime_per100,total_crime_per100
1171,NM,16359,82306,2088070,0.783451,3.941726,4.725177
56,AK,6133,26204,739795,0.829013,3.542062,4.371076
682,LA,26092,157712,4684333,0.557006,3.366797,3.923803
1522,SC,25432,160575,5024369,0.506173,3.195924,3.702097
119,AR,16671,92489,3004279,0.554909,3.078576,3.633484

In [28]:
bottom_five = crime2017_df.sort_values(by = ['total_crime_per100'], ascending = True)[:5]
bottom_five

,state_abbr,violent_crime,property_crime,population,violent_crime_per100,property_crime_per100,total_crime_per100
1093,NH,2668,18555,1342795,0.198690,1.381819,1.580509
1734,VT,1034,8960,623657,0.165796,1.436687,1.602483
721,ME,1617,20133,1335907,0.121041,1.507066,1.628107
1132,NJ,20604,140086,9005644,0.228790,1.555536,1.784325
781,MA,24560,98575,6859819,0.358027,1.436991,1.795018

In [29]:
worst = list(top_five['state_abbr'])
best = list(bottom_five['state_abbr'])
worst_best = worst+best
worst_best

['NM', 'AK', 'LA', 'SC', 'AR', 'NH', 'VT', 'ME', 'NJ', 'MA']

## Prepare state data for mapping

- Create a normalized colormap
- Update the state dataframe to add two missing territories (DC and Puerto Rico) 
- Turn the colormap into an list of hex colors, based on the level of crime
- Load states geometry from gmaps
- Plot

In [31]:
max_crime = max(crime2017_df['total_crime_per100'])
crime_val = crime2017_df['total_crime_per100']/max(crime2017_df['total_crime_per100'])
crime_val = crime_val.tolist()

In [32]:
norm = colors.Normalize(vmin=min(crime_val), vmax = max(crime_val))

m = cm.ScalarMappable(norm = norm, cmap='OrRd')
colormap = m.to_rgba(crime_val)
clr = [colors.to_hex(c) for c in colormap]

colorcoded_states = pd.Series(clr, index = crime2017_df['state_abbr'])
colorcoded_states = colorcoded_states.to_frame()

state_abbr = ["AL","AK","AZ","AR","CA","CO","CT","DE","FL","GA","HI","ID","IL","IN",
              "IA","KS","KY","LA","ME","MD","MA","MI","MN","MS","MO","MT","NE","NV",
              "NH","NJ","NM","NY","NC","ND","OH","OK","OR","PA","RI","SC","SD","TN",
              "TX","UT","VT","VA","WA","WV","WI","WY"]

states = ["Alabama","Alaska","Arizona","Arkansas","California","Colorado",
  "Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois",
  "Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland",
  "Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana",
  "Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York",
  "North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania",
  "Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah",
  "Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]

state_dict = dict(zip(state_abbr, states))

state_names = pd.Series(states, index = state_abbr)
state_names = state_names.to_frame()

state_color = colorcoded_states.merge(state_names, right_index = True, left_index = True)
state_color = state_color.rename(index=str, columns={"0_x": "color", "0_y": "state"})
state_dict

{'AL': 'Alabama',
 'AK': 'Alaska',
 'AZ': 'Arizona',
 'AR': 'Arkansas',
 'CA': 'California',
 'CO': 'Colorado',
 'CT': 'Connecticut',
 'DE': 'Delaware',
 'FL': 'Florida',
 'GA': 'Georgia',
 'HI': 'Hawaii',
 'ID': 'Idaho',
 'IL': 'Illinois',
 'IN': 'Indiana',
 'IA': 'Iowa',
 'KS': 'Kansas',
 'KY': 'Kentucky',
 'LA': 'Louisiana',
 'ME': 'Maine',
 'MD': 'Maryland',
 'MA': 'Massachusetts',
 'MI': 'Michigan',
 'MN': 'Minnesota',
 'MS': 'Mississippi',
 'MO': 'Missouri',
 'MT': 'Montana',
 'NE': 'Nebraska',
 'NV': 'Nevada',
 'NH': 'New Hampshire',
 'NJ': 'New Jersey',
 'NM': 'New Mexico',
 'NY': 'New York',
 'NC': 'North Carolina',
 'ND': 'North Dakota',
 'OH': 'Ohio',
 'OK': 'Oklahoma',
 'OR': 'Oregon',
 'PA': 'Pennsylvania',
 'RI': 'Rhode Island',
 'SC': 'South Carolina',
 'SD': 'South Dakota',
 'TN': 'Tennessee',
 'TX': 'Texas',
 'UT': 'Utah',
 'VT': 'Vermont',
 'VA': 'Virginia',
 'WA': 'Washington',
 'WV': 'West Virginia',
 'WI': 'Wisconsin',
 'WY': 'Wyoming'}

In [33]:
states_geo = gmaps.geojson_geometries.load_geometry('us-states')

# get list of states as they are ordered in gmaps
st = [i['properties']['NAME'] for i in states_geo['features']]

# find territories, missing in the original dataframe and present in the 'us-states' geojson file
missing = [s for s in st if s not in states]

# Add the territories to the frame and color them white 
missing_df = pd.DataFrame([['#ffffff', missing[0]], ['#ffffff', missing[1]]], columns=list(state_color), index = ['DC', 'PR'])
state_color = state_color.append(missing_df)
state_order = pd.DataFrame(pd.Series(st), columns = ['state'])

# create a state-color dataframe for geojson layer
df = state_order.merge(state_color, on = 'state')



# Create a layer for color coded states
gmaps.configure(api_key = gkey)
fig = gmaps.figure()
states_layer = gmaps.geojson_layer(states_geo, 
                                   fill_color = list(df['color']))
fig.add_layer(states_layer)
fig

## Map all mass shooting incidents reported between 2014 and 2019

In [35]:
shootings = pd.read_csv('data/shootings_all_years.csv')
shootings['Total Victims Count'] = shootings['# Killed'] + shootings['# Injured']
most_victims = shootings.sort_values(by = ['Total Victims Count'], ascending = False)
most_victims.head(10)

,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations,state_abbr,lat,lon,Year,Total Victims Count
1056,"October 1, 2017",Nevada,Las Vegas,3950 Las Vegas Blvd S,59,441,NaN,NV,36.093392,-115.176337,2017,500
849,"June 12, 2016",Florida,Orlando,1912 S Orange Avenue,50,53,NaN,FL,28.519612,-81.376846,2016,103
1022,"November 5, 2017",Texas,Sutherland Springs,216 4th St,27,20,NaN,TX,29.273218,-98.056343,2017,47
286,"December 2, 2015",California,San Bernardino,1365 South Waterman Avenue,16,19,NaN,CA,34.075564,-117.277623,2015,35
1642,"February 14, 2018",Florida,Pompano Beach (Parkland),5901 Pine Island Rd,17,17,NaN,FL,26.304503,-80.269457,2018,34
505,"May 17, 2015",Texas,Waco,4671 S Jack Kultgen Fwy,9,18,NaN,TX,31.499200,-97.148148,2015,27
1154,"July 1, 2017",Arkansas,Little Rock,220 W 6th St,0,25,NaN,AR,34.743509,-92.273262,2017,25
1571,"May 18, 2018",Texas,Santa Fe,16000 Hwy 6,10,13,NaN,TX,29.392694,-95.141993,2018,23
779,"July 25, 2016",Florida,Fort Myers,3580 Evans Ave,2,19,NaN,FL,26.611218,-81.860602,2016,21
1540,"June 17, 2018",New Jersey,Trenton,635 S Clinton Ave,1,19,NaN,NJ,40.210333,-74.754737,2018,20

In [36]:
locations = [tuple(coord) for coord in shootings[['lat', 'lon']].values]
victims = list(shootings['Total Victims Count'])
max(victims)

500

In [37]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights= victims, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

# Adjust heat_layer setting to help with heatmap dissipating on zoom
heat_layer.dissipating = False
heat_layer.max_intensity = 100
heat_layer.point_radius = 1

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

## Obtain all agency reports for the top five and bottom five states

Source: FBI Crime Data API, official estimates fron the Universal Crime Reports (UCR), compiled and published by FBI  
Time range: 2014 - 2017

- Read a list of agencies from .csv file
- Filter the list to exclude the states which are not in the top of bottom five
- Request all reports from agencies in  ['NM', 'AK', 'LA', 'SC', 'AR', 'NH', 'VT', 'ME', 'NJ', 'MA'] states
- Save all reports as a .csv file fr future use
- Read into a dataframe and clean it (group by year and county, sum up all violent crime and property crime)
- Save as a new csv file

In [38]:
# Read a list of a
agencies = pd.read_csv('data/agencies.csv')
agencies_df = agencies[agencies['State'].isin(worst_best)].reset_index()

# export_csv = reports_df.to_csv (r'data/reports_by_agency_10states.csv', index = None, header=True)

In [39]:
num

3150

In [50]:
# reports_by_agency = []

# num = len(agencies_df)
# count = 0
# for i in range(2926, num):

#     ori = agencies_df['Agency ORI9'][i]

#     try:
#         query_url = f'https://api.usa.gov/crime/fbi/sapi/api/summarized/agencies/{ori}/offenses/2014/2017?api_key={ckey}'
#         response = requests.get(query_url)
#         print('==========================================')
#         print(f'Requesting report from agency {ori}')
#         count +=1
#         result = response.json()
#         report_dict = result['results']
#         print(f'Adding {i} report of {num} | agency ORI9 is {ori} | Request count {count}')
#         reports_by_agency.append(pd.DataFrame(report_dict))
#     except:
#         print('............................................')
#         print(f'Something went wrong, skipping agency {ori}...')

==========================================
Requesting report from agency MA0010000
............................................
Something went wrong, skipping agency MA0010000...
==========================================
Requesting report from agency MA001MD00
............................................
Something went wrong, skipping agency MA001MD00...
==========================================
Requesting report from agency MA0010100
Adding 2928 report of 3150 | agency ORI9 is MA0010100 | Request count 3
==========================================
Requesting report from agency MA0010200
Adding 2929 report of 3150 | agency ORI9 is MA0010200 | Request count 4
==========================================
Requesting report from agency MA0010300
Adding 2930 report of 3150 | agency ORI9 is MA0010300 | Request count 5
==========================================
Requesting report from agency MA0010400
Adding 2931 report of 3150 | agency ORI9 is MA0010400 | Request count 6
==========================================
Requesting report from agency MA0010500
Adding 2932 report of 3150 | agency ORI9 is MA0010500 | Request count 7
==========================================
Requesting report from agency MA0010600
Adding 2933 report of 3150 | agency ORI9 is MA0010600 | Request count 8
==========================================
Requesting report from agency MA0010700
Adding 2934 report of 3150 | agency ORI9 is MA0010700 | Request count 9
==========================================
Requesting report from agency MA0010800
Adding 2935 report of 3150 | agency ORI9 is MA0010800 | Request count 10
==========================================
Requesting report from agency MA0010900
Adding 2936 report of 3150 | agency ORI9 is MA0010900 | Request count 11
==========================================
Requesting report from agency MA001BA00
............................................
Something went wrong, skipping agency MA001BA00...
==========================================
Requesting report from agency MA0011000
Adding 2938 report of 3150 | agency ORI9 is MA0011000 | Request count 13
==========================================
Requesting report from agency MA0011100
Adding 2939 report of 3150 | agency ORI9 is MA0011100 | Request count 14
==========================================
Requesting report from agency MA001MV00
............................................
Something went wrong, skipping agency MA001MV00...
==========================================
Requesting report from agency MA0011200
Adding 2941 report of 3150 | agency ORI9 is MA0011200 | Request count 16
==========================================
Requesting report from agency MA301SP00
Adding 2942 report of 3150 | agency ORI9 is MA301SP00 | Request count 17
==========================================
Requesting report from agency MA0020100
Adding 2943 report of 3150 | agency ORI9 is MA0020100 | Request count 18
==========================================
Requesting report from agency MA0020300
Adding 2944 report of 3150 | agency ORI9 is MA0020300 | Request count 19
==========================================
Requesting report from agency MA0020000
............................................
Something went wrong, skipping agency MA0020000...
==========================================
Requesting report from agency MA002MD00
............................................
Something went wrong, skipping agency MA002MD00...
==========================================
Requesting report from agency MA0020400
Adding 2947 report of 3150 | agency ORI9 is MA0020400 | Request count 22
==========================================
Requesting report from agency MA0020500
............................................
Something went wrong, skipping agency MA0020500...
==========================================
Requesting report from agency MA0020600
Adding 2949 report of 3150 | agency ORI9 is MA0020600 | Request count 24
==========================================
Requesting report from agency MA0020700
Adding 2950 report of 3150 | agency ORI9 is MA0020700 | Request count 25
==========================================
Requesting report from agency MA0020900
Adding 2951 report of 3150 | agency ORI9 is MA0020900 | Request count 26
==========================================
Requesting report from agency MA0021100
Adding 2952 report of 3150 | agency ORI9 is MA0021100 | Request count 27
==========================================
Requesting report from agency MA0021200
Adding 2953 report of 3150 | agency ORI9 is MA0021200 | Request count 28
==========================================
Requesting report from agency MA0021300
Adding 2954 report of 3150 | agency ORI9 is MA0021300 | Request count 29
==========================================
Requesting report from agency MA0021400
Adding 2955 report of 3150 | agency ORI9 is MA0021400 | Request count 30
==========================================
Requesting report from agency MA002SC00
............................................
Something went wrong, skipping agency MA002SC00...
==========================================
Requesting report from agency MA0023500
Adding 2957 report of 3150 | agency ORI9 is MA0023500 | Request count 32
==========================================
Requesting report from agency MA002BA00
............................................
Something went wrong, skipping agency MA002BA00...
==========================================
Requesting report from agency MA0021500
Adding 2959 report of 3150 | agency ORI9 is MA0021500 | Request count 34
==========================================
Requesting report from agency MA0030100
Adding 2960 report of 3150 | agency ORI9 is MA0030100 | Request count 35
==========================================
Requesting report from agency MA0030200
Adding 2961 report of 3150 | agency ORI9 is MA0030200 | Request count 36
==========================================
Requesting report from agency MA0030300
Adding 2962 report of 3150 | agency ORI9 is MA0030300 | Request count 37
==========================================
Requesting report from agency MA0032300
Adding 2963 report of 3150 | agency ORI9 is MA0032300 | Request count 38
==========================================
Requesting report from agency MA0030000
............................................
Something went wrong, skipping agency MA0030000...
==========================================
Requesting report from agency MA003MD00
............................................
Something went wrong, skipping agency MA003MD00...
==========================================
Requesting report from agency MA0030400
Adding 2966 report of 3150 | agency ORI9 is MA0030400 | Request count 41
==========================================
Requesting report from agency MA0030500
Adding 2967 report of 3150 | agency ORI9 is MA0030500 | Request count 42
==========================================
Requesting report from agency MA0030600
Adding 2968 report of 3150 | agency ORI9 is MA0030600 | Request count 43
==========================================
Requesting report from agency MA0030700
Adding 2969 report of 3150 | agency ORI9 is MA0030700 | Request count 44
==========================================
Requesting report from agency MA0030800
Adding 2970 report of 3150 | agency ORI9 is MA0030800 | Request count 45
==========================================
Requesting report from agency MA0030900
Adding 2971 report of 3150 | agency ORI9 is MA0030900 | Request count 46
==========================================
Requesting report from agency MA0031000
Adding 2972 report of 3150 | agency ORI9 is MA0031000 | Request count 47
==========================================
Requesting report from agency MA003BA00
Adding 2973 report of 3150 | agency ORI9 is MA003BA00 | Request count 48
==========================================
Requesting report from agency MA0031100
Adding 2974 report of 3150 | agency ORI9 is MA0031100 | Request count 49
==========================================
Requesting report from agency MA0031200
Adding 2975 report of 3150 | agency ORI9 is MA0031200 | Request count 50
==========================================
Requesting report from agency MA0031300
Adding 2976 report of 3150 | agency ORI9 is MA0031300 | Request count 51

==========================================
Requesting report from agency MA0040300
Adding 2977 report of 3150 | agency ORI9 is MA0040300 | Request count 52
==========================================
Requesting report from agency MA0040100
Adding 2978 report of 3150 | agency ORI9 is MA0040100 | Request count 53
==========================================
Requesting report from agency MA0040000
............................................
Something went wrong, skipping agency MA0040000...
==========================================
Requesting report from agency MA004MD00
............................................
Something went wrong, skipping agency MA004MD00...
==========================================
Requesting report from agency MA0040200
Adding 2981 report of 3150 | agency ORI9 is MA0040200 | Request count 56
==========================================
Requesting report from agency MA004BA00
............................................
Something went wrong, skipping agency MA004BA00...
==========================================
Requesting report from agency MA0040500
Adding 2983 report of 3150 | agency ORI9 is MA0040500 | Request count 58
==========================================
Requesting report from agency MA004MV00
............................................
Something went wrong, skipping agency MA004MV00...
==========================================
Requesting report from agency MA304SP00
Adding 2985 report of 3150 | agency ORI9 is MA304SP00 | Request count 60
==========================================
Requesting report from agency MA0040600
Adding 2986 report of 3150 | agency ORI9 is MA0040600 | Request count 61
==========================================
Requesting report from agency MA0040700
Adding 2987 report of 3150 | agency ORI9 is MA0040700 | Request count 62
==========================================
Requesting report from agency MADI01000
Adding 2988 report of 3150 | agency ORI9 is MADI01000 | Request count 63
==========================================
Requesting report from agency MA0050100
Adding 2989 report of 3150 | agency ORI9 is MA0050100 | Request count 64
==========================================
Requesting report from agency MA0050200
Adding 2990 report of 3150 | agency ORI9 is MA0050200 | Request count 65
==========================================
Requesting report from agency MA0050300
Adding 2991 report of 3150 | agency ORI9 is MA0050300 | Request count 66
==========================================
Requesting report from agency MA0050400
Adding 2992 report of 3150 | agency ORI9 is MA0050400 | Request count 67
==========================================
Requesting report from agency MA0050500
Adding 2993 report of 3150 | agency ORI9 is MA0050500 | Request count 68
==========================================
Requesting report from agency MA0050000
............................................
Something went wrong, skipping agency MA0050000...
==========================================
Requesting report from agency MA0050600
Adding 2995 report of 3150 | agency ORI9 is MA0050600 | Request count 70
==========================================
Requesting report from agency MA0050700
Adding 2996 report of 3150 | agency ORI9 is MA0050700 | Request count 71
==========================================
Requesting report from agency MA0050800
Adding 2997 report of 3150 | agency ORI9 is MA0050800 | Request count 72
==========================================
Requesting report from agency MA0050900
Adding 2998 report of 3150 | agency ORI9 is MA0050900 | Request count 73
==========================================
Requesting report from agency MA0051000
Adding 2999 report of 3150 | agency ORI9 is MA0051000 | Request count 74
==========================================
Requesting report from agency MA0051100
Adding 3000 report of 3150 | agency ORI9 is MA0051100 | Request count 75
==========================================
Requesting report from agency MA0051200
Adding 3001 report of 3150 | agency ORI9 is MA0051200 | Request count 76
==========================================
Requesting report from agency MA0051300
Adding 3002 report of 3150 | agency ORI9 is MA0051300 | Request count 77
==========================================
Requesting report from agency MA0051400
Adding 3003 report of 3150 | agency ORI9 is MA0051400 | Request count 78
==========================================
Requesting report from agency MA0051500
Adding 3004 report of 3150 | agency ORI9 is MA0051500 | Request count 79
==========================================
Requesting report from agency MA0051600
Adding 3005 report of 3150 | agency ORI9 is MA0051600 | Request count 80
==========================================
Requesting report from agency MA0060100
Adding 3006 report of 3150 | agency ORI9 is MA0060100 | Request count 81
==========================================
Requesting report from agency MA0060200
Adding 3007 report of 3150 | agency ORI9 is MA0060200 | Request count 82
==========================================
Requesting report from agency MA0060300
Adding 3008 report of 3150 | agency ORI9 is MA0060300 | Request count 83
==========================================
Requesting report from agency MA0060400
Adding 3009 report of 3150 | agency ORI9 is MA0060400 | Request count 84
==========================================
Requesting report from agency MA0060600
............................................
Something went wrong, skipping agency MA0060600...
==========================================
Requesting report from agency MA0060700
Adding 3011 report of 3150 | agency ORI9 is MA0060700 | Request count 86
==========================================
Requesting report from agency MA0060800
Adding 3012 report of 3150 | agency ORI9 is MA0060800 | Request count 87
==========================================
Requesting report from agency MA0060000
............................................
Something went wrong, skipping agency MA0060000...
==========================================
Requesting report from agency MA006MD00
............................................
Something went wrong, skipping agency MA006MD00...
==========================================
Requesting report from agency MA0060900
Adding 3015 report of 3150 | agency ORI9 is MA0060900 | Request count 90
==========================================
Requesting report from agency MA0061000
Adding 3016 report of 3150 | agency ORI9 is MA0061000 | Request count 91
==========================================
Requesting report from agency MA0061200
............................................
Something went wrong, skipping agency MA0061200...
==========================================
Requesting report from agency MA0061300
Adding 3018 report of 3150 | agency ORI9 is MA0061300 | Request count 93
==========================================
Requesting report from agency MA0061400
Adding 3019 report of 3150 | agency ORI9 is MA0061400 | Request count 94
==========================================
Requesting report from agency MA006BA00
............................................
Something went wrong, skipping agency MA006BA00...
==========================================
Requesting report from agency MA0061500
............................................
Something went wrong, skipping agency MA0061500...
==========================================
Requesting report from agency MA0061600
Adding 3022 report of 3150 | agency ORI9 is MA0061600 | Request count 97
==========================================
Requesting report from agency MA0070100
Adding 3023 report of 3150 | agency ORI9 is MA0070100 | Request count 98
==========================================
Requesting report from agency MA0070200
Adding 3024 report of 3150 | agency ORI9 is MA0070200 | Request count 99
==========================================
Requesting report from agency MA0070300
Adding 3025 report of 3150 | agency ORI9 is MA0070300 | Request count 100
==========================================
Requesting report from agency MA0070400
Adding 3026 report of 3150 | agency ORI9 is MA0070400 | Request count 101
==========================================
Requesting report from agency MA0070500
Adding 3027 report of 3150 | agency ORI9 is MA0070500 | Request count 102

==========================================
Requesting report from agency MA0070600
Adding 3028 report of 3150 | agency ORI9 is MA0070600 | Request count 103
==========================================
Requesting report from agency MA0070700
Adding 3029 report of 3150 | agency ORI9 is MA0070700 | Request count 104
==========================================
Requesting report from agency MA0070000
............................................
Something went wrong, skipping agency MA0070000...
==========================================
Requesting report from agency MA007MD00
............................................
Something went wrong, skipping agency MA007MD00...
==========================================
Requesting report from agency MA0070800
Adding 3032 report of 3150 | agency ORI9 is MA0070800 | Request count 107
==========================================
Requesting report from agency MA0070900
Adding 3033 report of 3150 | agency ORI9 is MA0070900 | Request count 108
==========================================
Requesting report from agency MA0072600
............................................
Something went wrong, skipping agency MA0072600...
==========================================
Requesting report from agency MA0071000
Adding 3035 report of 3150 | agency ORI9 is MA0071000 | Request count 110
==========================================
Requesting report from agency MA0071100
Adding 3036 report of 3150 | agency ORI9 is MA0071100 | Request count 111
==========================================
Requesting report from agency MA0071200
Adding 3037 report of 3150 | agency ORI9 is MA0071200 | Request count 112
==========================================
Requesting report from agency MA007BA00
............................................
Something went wrong, skipping agency MA007BA00...
==========================================
Requesting report from agency MA0071300
Adding 3039 report of 3150 | agency ORI9 is MA0071300 | Request count 114
==========================================
Requesting report from agency MA0082800
............................................
Something went wrong, skipping agency MA0082800...
==========================================
Requesting report from agency MA0080100
Adding 3041 report of 3150 | agency ORI9 is MA0080100 | Request count 116
==========================================
Requesting report from agency MA0080200
Adding 3042 report of 3150 | agency ORI9 is MA0080200 | Request count 117
==========================================
Requesting report from agency MA0080300
Adding 3043 report of 3150 | agency ORI9 is MA0080300 | Request count 118
==========================================
Requesting report from agency MA0080400
Adding 3044 report of 3150 | agency ORI9 is MA0080400 | Request count 119
==========================================
Requesting report from agency MA0080500
Adding 3045 report of 3150 | agency ORI9 is MA0080500 | Request count 120
==========================================
Requesting report from agency MA0080600
Adding 3046 report of 3150 | agency ORI9 is MA0080600 | Request count 121
==========================================
Requesting report from agency MA0080700
Adding 3047 report of 3150 | agency ORI9 is MA0080700 | Request count 122
==========================================
Requesting report from agency MA0080800
Adding 3048 report of 3150 | agency ORI9 is MA0080800 | Request count 123
==========================================
Requesting report from agency MA0080000
............................................
Something went wrong, skipping agency MA0080000...
==========================================
Requesting report from agency MA0082400
............................................
Something went wrong, skipping agency MA0082400...
==========================================
Requesting report from agency MA0080900
Adding 3051 report of 3150 | agency ORI9 is MA0080900 | Request count 126
==========================================
Requesting report from agency MA0081000
............................................
Something went wrong, skipping agency MA0081000...
==========================================
Requesting report from agency MA008BA00
............................................
Something went wrong, skipping agency MA008BA00...
==========================================
Requesting report from agency MA0082100
............................................
Something went wrong, skipping agency MA0082100...
==========================================
Requesting report from agency MA0082300
............................................
Something went wrong, skipping agency MA0082300...
==========================================
Requesting report from agency MA0081200
Adding 3056 report of 3150 | agency ORI9 is MA0081200 | Request count 131
==========================================
Requesting report from agency MA0090100
Adding 3057 report of 3150 | agency ORI9 is MA0090100 | Request count 132
==========================================
Requesting report from agency MA0090200
Adding 3058 report of 3150 | agency ORI9 is MA0090200 | Request count 133
==========================================
Requesting report from agency MA0090300
Adding 3059 report of 3150 | agency ORI9 is MA0090300 | Request count 134
==========================================
Requesting report from agency MA0090400
Adding 3060 report of 3150 | agency ORI9 is MA0090400 | Request count 135
==========================================
Requesting report from agency MA0090500
Adding 3061 report of 3150 | agency ORI9 is MA0090500 | Request count 136
==========================================
Requesting report from agency MA0090600
Adding 3062 report of 3150 | agency ORI9 is MA0090600 | Request count 137
==========================================
Requesting report from agency MA0090700
Adding 3063 report of 3150 | agency ORI9 is MA0090700 | Request count 138
==========================================
Requesting report from agency MA0095800
............................................
Something went wrong, skipping agency MA0095800...
==========================================
Requesting report from agency MA0090800
Adding 3065 report of 3150 | agency ORI9 is MA0090800 | Request count 140
==========================================
Requesting report from agency MA0096500
............................................
Something went wrong, skipping agency MA0096500...
==========================================
Requesting report from agency MA0090900
Adding 3067 report of 3150 | agency ORI9 is MA0090900 | Request count 142
==========================================
Requesting report from agency MA0095700
............................................
Something went wrong, skipping agency MA0095700...
==========================================
Requesting report from agency MA0091000
Adding 3069 report of 3150 | agency ORI9 is MA0091000 | Request count 144
==========================================
Requesting report from agency MA0091100
Adding 3070 report of 3150 | agency ORI9 is MA0091100 | Request count 145
==========================================
Requesting report from agency MA0091200
Adding 3071 report of 3150 | agency ORI9 is MA0091200 | Request count 146
==========================================
Requesting report from agency MA0091300
Adding 3072 report of 3150 | agency ORI9 is MA0091300 | Request count 147
==========================================
Requesting report from agency MA0091400
Adding 3073 report of 3150 | agency ORI9 is MA0091400 | Request count 148
==========================================
Requesting report from agency MAMSP0000
Adding 3074 report of 3150 | agency ORI9 is MAMSP0000 | Request count 149
==========================================
Requesting report from agency MA010BA00
............................................
Something went wrong, skipping agency MA010BA00...
==========================================
Requesting report from agency MA0100000
............................................
Something went wrong, skipping agency MA0100000...
==========================================
Requesting report from agency MA010MD00
............................................
Something went wrong, skipping agency MA010MD00...

==========================================
Requesting report from agency MA0100100
Adding 3078 report of 3150 | agency ORI9 is MA0100100 | Request count 153
==========================================
Requesting report from agency MA010MV00
............................................
Something went wrong, skipping agency MA010MV00...
==========================================
Requesting report from agency MA310SP00
Adding 3080 report of 3150 | agency ORI9 is MA310SP00 | Request count 155
==========================================
Requesting report from agency MA0110100
Adding 3081 report of 3150 | agency ORI9 is MA0110100 | Request count 156
==========================================
Requesting report from agency MA0110200
Adding 3082 report of 3150 | agency ORI9 is MA0110200 | Request count 157
==========================================
Requesting report from agency MA0110300
Adding 3083 report of 3150 | agency ORI9 is MA0110300 | Request count 158
==========================================
Requesting report from agency MA0110400
Adding 3084 report of 3150 | agency ORI9 is MA0110400 | Request count 159
==========================================
Requesting report from agency MA0110500
Adding 3085 report of 3150 | agency ORI9 is MA0110500 | Request count 160
==========================================
Requesting report from agency MA0110600
Adding 3086 report of 3150 | agency ORI9 is MA0110600 | Request count 161
==========================================
Requesting report from agency MA0113100
............................................
Something went wrong, skipping agency MA0113100...
==========================================
Requesting report from agency MA0110700
Adding 3088 report of 3150 | agency ORI9 is MA0110700 | Request count 163
==========================================
Requesting report from agency MA0110800
Adding 3089 report of 3150 | agency ORI9 is MA0110800 | Request count 164
==========================================
Requesting report from agency MA0110900
Adding 3090 report of 3150 | agency ORI9 is MA0110900 | Request count 165
==========================================
Requesting report from agency MA0111000
Adding 3091 report of 3150 | agency ORI9 is MA0111000 | Request count 166
==========================================
Requesting report from agency MA0111100
Adding 3092 report of 3150 | agency ORI9 is MA0111100 | Request count 167
==========================================
Requesting report from agency MA011BA00
Adding 3093 report of 3150 | agency ORI9 is MA011BA00 | Request count 168
==========================================
Requesting report from agency MA0111200
Adding 3094 report of 3150 | agency ORI9 is MA0111200 | Request count 169
==========================================
Requesting report from agency MA0111300
Adding 3095 report of 3150 | agency ORI9 is MA0111300 | Request count 170
==========================================
Requesting report from agency MA0112900
............................................
Something went wrong, skipping agency MA0112900...
==========================================
Requesting report from agency MA0111400
Adding 3097 report of 3150 | agency ORI9 is MA0111400 | Request count 172
==========================================
Requesting report from agency MA0120100
Adding 3098 report of 3150 | agency ORI9 is MA0120100 | Request count 173
==========================================
Requesting report from agency MA0120200
Adding 3099 report of 3150 | agency ORI9 is MA0120200 | Request count 174
==========================================
Requesting report from agency MA0122900
Adding 3100 report of 3150 | agency ORI9 is MA0122900 | Request count 175
==========================================
Requesting report from agency MA0120300
Adding 3101 report of 3150 | agency ORI9 is MA0120300 | Request count 176
==========================================
Requesting report from agency MA0120400
Adding 3102 report of 3150 | agency ORI9 is MA0120400 | Request count 177
==========================================
Requesting report from agency MA0120500
Adding 3103 report of 3150 | agency ORI9 is MA0120500 | Request count 178
==========================================
Requesting report from agency MA0120600
Adding 3104 report of 3150 | agency ORI9 is MA0120600 | Request count 179
==========================================
Requesting report from agency MA0120700
Adding 3105 report of 3150 | agency ORI9 is MA0120700 | Request count 180
==========================================
Requesting report from agency MA0120800
Adding 3106 report of 3150 | agency ORI9 is MA0120800 | Request count 181
==========================================
Requesting report from agency MA0120900
Adding 3107 report of 3150 | agency ORI9 is MA0120900 | Request count 182
==========================================
Requesting report from agency MA0121000
Adding 3108 report of 3150 | agency ORI9 is MA0121000 | Request count 183
==========================================
Requesting report from agency MA0121100
Adding 3109 report of 3150 | agency ORI9 is MA0121100 | Request count 184
==========================================
Requesting report from agency MA0121200
Adding 3110 report of 3150 | agency ORI9 is MA0121200 | Request count 185
==========================================
Requesting report from agency MA0121300
Adding 3111 report of 3150 | agency ORI9 is MA0121300 | Request count 186
==========================================
Requesting report from agency MA0121400
Adding 3112 report of 3150 | agency ORI9 is MA0121400 | Request count 187
==========================================
Requesting report from agency MA0121500
Adding 3113 report of 3150 | agency ORI9 is MA0121500 | Request count 188
==========================================
Requesting report from agency MA0123100
............................................
Something went wrong, skipping agency MA0123100...
==========================================
Requesting report from agency MA0131500
............................................
Something went wrong, skipping agency MA0131500...
==========================================
Requesting report from agency MA0139900
............................................
Something went wrong, skipping agency MA0139900...
==========================================
Requesting report from agency MA0133600
............................................
Something went wrong, skipping agency MA0133600...
==========================================
Requesting report from agency MA0130100
Adding 3118 report of 3150 | agency ORI9 is MA0130100 | Request count 193
==========================================
Requesting report from agency MA0133000
............................................
Something went wrong, skipping agency MA0133000...
==========================================
Requesting report from agency MA0134100
Adding 3120 report of 3150 | agency ORI9 is MA0134100 | Request count 195
==========================================
Requesting report from agency MA0130200
Adding 3121 report of 3150 | agency ORI9 is MA0130200 | Request count 196
==========================================
Requesting report from agency MA0130300
Adding 3122 report of 3150 | agency ORI9 is MA0130300 | Request count 197
==========================================
Requesting report from agency MA0139800
............................................
Something went wrong, skipping agency MA0139800...
==========================================
Requesting report from agency MA0130900
............................................
Something went wrong, skipping agency MA0130900...
==========================================
Requesting report from agency MA0133800
............................................
Something went wrong, skipping agency MA0133800...
==========================================
Requesting report from agency MA0131900
Adding 3126 report of 3150 | agency ORI9 is MA0131900 | Request count 201
==========================================
Requesting report from agency MA013BA00
............................................
Something went wrong, skipping agency MA013BA00...
==========================================
Requesting report from agency MA0133300
............................................
Something went wrong, skipping agency MA0133300...

==========================================
Requesting report from agency MA013MV00
............................................
Something went wrong, skipping agency MA013MV00...
==========================================
Requesting report from agency MA0130400
Adding 3130 report of 3150 | agency ORI9 is MA0130400 | Request count 205
==========================================
Requesting report from agency MA313SP00
Adding 3131 report of 3150 | agency ORI9 is MA313SP00 | Request count 206
==========================================
Requesting report from agency MA0130600
............................................
Something went wrong, skipping agency MA0130600...
==========================================
Requesting report from agency MA0140100
Adding 3133 report of 3150 | agency ORI9 is MA0140100 | Request count 208
==========================================
Requesting report from agency MA0147000
............................................
Something went wrong, skipping agency MA0147000...
==========================================
Requesting report from agency MA0140200
Adding 3135 report of 3150 | agency ORI9 is MA0140200 | Request count 210
==========================================
Requesting report from agency MA0140300
Adding 3136 report of 3150 | agency ORI9 is MA0140300 | Request count 211
==========================================
Requesting report from agency MA0140400
Adding 3137 report of 3150 | agency ORI9 is MA0140400 | Request count 212
==========================================
Requesting report from agency MA0140500
Adding 3138 report of 3150 | agency ORI9 is MA0140500 | Request count 213
==========================================
Requesting report from agency MA0140600
Adding 3139 report of 3150 | agency ORI9 is MA0140600 | Request count 214
==========================================
Requesting report from agency MA0140700
Adding 3140 report of 3150 | agency ORI9 is MA0140700 | Request count 215
==========================================
Requesting report from agency MA0140800
Adding 3141 report of 3150 | agency ORI9 is MA0140800 | Request count 216
==========================================
Requesting report from agency MA0140900
Adding 3142 report of 3150 | agency ORI9 is MA0140900 | Request count 217
==========================================
Requesting report from agency MA0141000
Adding 3143 report of 3150 | agency ORI9 is MA0141000 | Request count 218
==========================================
Requesting report from agency MA0146800
............................................
Something went wrong, skipping agency MA0146800...
==========================================
Requesting report from agency MA0141100
Adding 3145 report of 3150 | agency ORI9 is MA0141100 | Request count 220
==========================================
Requesting report from agency MA0141200
Adding 3146 report of 3150 | agency ORI9 is MA0141200 | Request count 221
==========================================
Requesting report from agency MA0141300
Adding 3147 report of 3150 | agency ORI9 is MA0141300 | Request count 222
==========================================
Requesting report from agency MA0141400
Adding 3148 report of 3150 | agency ORI9 is MA0141400 | Request count 223
==========================================
Requesting report from agency MA0141500
Adding 3149 report of 3150 | agency ORI9 is MA0141500 | Request count 224

In [53]:
reports_df = reports_by_agency[0].append(reports_by_agency[1:], ignore_index = True)
# export_csv = reports_df.to_csv (r'data/reports_by_agency_10states_3.csv', index = None, header=True)

In [68]:
files = ['data/reports_by_agency_10states.csv',
        'data/reports_by_agency_10states_1.csv',
        'data/reports_by_agency_10states_2.csv',
        'data/reports_by_agency_10states_3.csv']

dfObj = []

for file in files:
    df = pd.read_csv(file)
    dfObj.append(df)
    
allreports = dfObj[0].append(dfObj[1:], ignore_index = True)
allreports = allreports.rename(index = str, columns = {'ori': 'Agency ORI9'})
allreports = allreports.merge(agencies_df, how = 'left')
# export_csv = allreports.to_csv (r'data/all_agency_reports_10states.csv', index = None, header=True)

In [45]:
allreports = pd.read_csv('data/all_agency_reports_10states.csv')
allreports[allreports['County'] == 'BRISTOL']

,actual,cleared,data_year,offense,Agency ORI9,state_abbr,index,County,State,Agency Name
180,1705,1035,2014,aggravated-assault,AK0010100,AK,475,BRISTOL,AK,ANCHORAGE POLICE DEPARTMENT
181,81,19,2014,arson,AK0010100,AK,475,BRISTOL,AK,ANCHORAGE POLICE DEPARTMENT
182,1375,133,2014,burglary,AK0010100,AK,475,BRISTOL,AK,ANCHORAGE POLICE DEPARTMENT
183,12,9,2014,homicide,AK0010100,AK,475,BRISTOL,AK,ANCHORAGE POLICE DEPARTMENT
184,0,0,2014,human-trafficing,AK0010100,AK,475,BRISTOL,AK,ANCHORAGE POLICE DEPARTMENT
185,9217,1713,2014,larceny,AK0010100,AK,475,BRISTOL,AK,ANCHORAGE POLICE DEPARTMENT
186,939,143,2014,motor-vehicle-theft,AK0010100,AK,475,BRISTOL,AK,ANCHORAGE POLICE DEPARTMENT
187,11531,1989,2014,property-crime,AK0010100,AK,475,BRISTOL,AK,ANCHORAGE POLICE DEPARTMENT
188,392,78,2014,rape,AK0010100,AK,475,BRISTOL,AK,ANCHORAGE POLICE DEPARTMENT
189,0,0,2014,rape-legacy,AK0010100,AK,475,BRISTOL,AK,ANCHORAGE POLICE DEPARTMENT
190,496,156,2014,robbery,AK0010100,AK,475,BRISTOL,AK,ANCHORAGE POLICE DEPARTMENT
191,2605,1278,2014,violent-crime,AK0010100,AK,475,BRISTOL,AK,ANCHORAGE POLICE DEPARTMENT
192,2062,1142,2015,aggravated-assault,AK0010100,AK,475,BRISTOL,AK,ANCHORAGE POLICE DEPARTMENT
193,106,30,2015,arson,AK0010100,AK,475,BRISTOL,AK,ANCHORAGE POLICE DEPARTMENT
194,1685,168,2015,burglary,AK0010100,AK,475,BRISTOL,AK,ANCHORAGE POLICE DEPARTMENT
195,26,21,2015,homicide,AK0010100,AK,475,BRISTOL,AK,ANCHORAGE POLICE DEPARTMENT
196,0,0,2015,human-trafficing,AK0010100,AK,475,BRISTOL,AK,ANCHORAGE POLICE DEPARTMENT
197,8962,1603,2015,larceny,AK0010100,AK,475,BRISTOL,AK,ANCHORAGE POLICE DEPARTMENT
198,1154,214,2015,motor-vehicle-theft,AK0010100,AK,475,BRISTOL,AK,ANCHORAGE POLICE DEPARTMENT
199,11801,1985,2015,property-crime,AK0010100,AK,475,BRISTOL,AK,ANCHORAGE POLICE DEPARTMENT
200,517,69,2015,rape,AK0010100,AK,475,BRISTOL,AK,ANCHORAGE POLICE DEPARTMENT
201,0,0,2015,rape-legacy,AK0010100,AK,475,BRISTOL,AK,ANCHORAGE POLICE DEPARTMENT
202,621,213,2015,robbery,AK0010100,AK,475,BRISTOL,AK,ANCHORAGE POLICE DEPARTMENT
203,3226,1445,2015,violent-crime,AK0010100,AK,475,BRISTOL,AK,ANCHORAGE POLICE DEPARTMENT
204,2157,1208,2016,aggravated-assault,AK0010100,AK,475,BRISTOL,AK,ANCHORAGE POLICE DEPARTMENT
205,69,19,2016,arson,AK0010100,AK,475,BRISTOL,AK,ANCHORAGE POLICE DEPARTMENT
206,2008,209,2016,burglary,AK0010100,AK,475,BRISTOL,AK,ANCHORAGE POLICE DEPARTMENT
207,28,20,2016,homicide,AK0010100,AK,475,BRISTOL,AK,ANCHORAGE POLICE DEPARTMENT
208,0,0,2016,human-trafficing,AK0010100,AK,475,BRISTOL,AK,ANCHORAGE POLICE DEPARTMENT
209,10599,1481,2016,larceny,AK0010100,AK,475,BRISTOL,AK,ANCHORAGE POLICE DEPARTMENT
...,...,...,...,...,...,...,...,...,...,...
180750,0,0,2016,rape-legacy,MA0140200,MA,8297,BRISTOL,MA,ATHOL POLICE DEPARTMENT
180751,0,0,2016,rape-legacy,MA0140200,MA,20927,BRISTOL,MA,ATHOL POLICE DEPARTMENT
180752,1,0,2016,robbery,MA0140200,MA,8297,BRISTOL,MA,ATHOL POLICE DEPARTMENT
180753,1,0,2016,robbery,MA0140200,MA,20927,BRISTOL,MA,ATHOL POLICE DEPARTMENT
180754,49,40,2016,violent-crime,MA0140200,MA,8297,BRISTOL,MA,ATHOL POLICE DEPARTMENT
180755,49,40,2016,violent-crime,MA0140200,MA,20927,BRISTOL,MA,ATHOL POLICE DEPARTMENT
180756,49,44,2017,aggravated-assault,MA0140200,MA,8297,BRISTOL,MA,ATHOL POLICE DEPARTMENT
180757,49,44,2017,aggravated-assault,MA0140200,MA,20927,BRISTOL,MA,ATHOL POLICE DEPARTMENT
180758,2,0,2017,arson,MA0140200,MA,8297,BRISTOL,MA,ATHOL POLICE DEPARTMENT
180759,2,0,2017,arson,MA0140200,MA,20927,BRISTOL,MA,ATHOL POLICE DEPARTMENT
180760,47,4,2017,burglary,MA0140200,MA,8297,BRISTOL,MA,ATHOL POLICE DEPARTMENT
180761,47,4,2017,burglary,MA0140200,MA,20927,BRISTOL,MA,ATHOL POLICE DEPARTMENT
180762,0,0,2017,homicide,MA0140200,MA,8297,BRISTOL,MA,ATHOL POLICE DEPARTMENT
180763,0,0,2017,homicide,MA0140200,MA,20927,BRISTOL,MA,ATHOL POLICE DEPARTMENT
180764,0,0,2017,human-trafficing,MA0140200,MA,8297,BRISTOL,MA,ATHOL POLICE DEPARTMENT
180765,0,0,2017,human-trafficing,MA0140200,MA,20927,BRISTOL,MA,ATHOL POLICE DEPARTMENT
180766,150,26,2017,larceny,MA0140200,MA,8297,BRISTOL,MA,ATHOL POLICE DEPARTMENT
180767,150,26,2017,larceny,MA0140200,MA,20927,BRISTOL,MA,ATHOL POLICE DEPARTMENT
180768,5,3,2017,motor-vehicle-theft,MA0140200,MA,8297,BRISTOL,MA,ATHOL POLICE DEPARTMENT
180769,5,3,2017,motor-vehicle-theft,MA0140200,MA,20927,BRISTOL,MA,ATHOL POLICE DEPARTMENT
180770,202,33,2017,property-crime,MA0140200,MA,8297,BRISTOL,MA,ATHOL POLICE DEPARTMENT
180771,202,33,2017,property-crime,MA0140200,MA,20927,BRISTOL,MA,ATHOL POLICE DEPARTMENT
180772,6,0,2017,rape,MA0140200,MA,8297,BRISTOL,MA,ATHOL POLICE DEPARTMENT
180773,6,0,2017,rape,MA0140200,MA,20927,BRISTOL,MA,ATHOL POLICE DEPARTMENT
180774,0,0,2017,rape-legacy,MA0140200,MA,8297,BRISTOL,MA,ATHOL POLICE DEPARTMENT
180775,0,0,2017,rape-legacy,MA0140200,MA,20927,BRISTOL,MA,ATHOL POLICE DEPARTMENT
180776,3,0,2017,robbery,MA0140200,MA,8297,BRISTOL,MA,ATHOL POLICE DEPARTMENT
180777,3,0,2017,robbery,MA0140200,MA,20927,BRISTOL,MA,ATHOL POLICE DEPARTMENT
180778,58,44,2017,violent-crime,MA0140200,MA,8297,BRISTOL,MA,ATHOL POLICE DEPARTMENT
180779,58,44,2017,violent-crime,MA0140200,MA,20927,BRISTOL,MA,ATHOL POLICE DEPARTMENT

In [46]:
# allreports[allreports['offense'] == ['property-crime', 'violent-crime']]
allreports = allreports.loc[allreports['offense'].isin(['property-crime', 'violent-crime'])]
# allreports[allreports['County'] == 'BRISTOL']

In [52]:
table = pd.pivot_table(allreports, values='actual', index=['State', 'County', 'data_year'], 
                        columns=['offense'], aggfunc=np.sum)
    
table.head(20)

offense                     property-crime  violent-crime
State County     data_year
AK    ALEUTIANS  2014                 4504            896
                 2015                 4547           1012
                 2016                 5228           1143
                 2017                 5432           1212
      ANCHORAGE  2014                  801             61
                 2015                  875             52
                 2016                  758             71
                 2017                  762             64
      BETHEL     2014                   87             29
                 2015                   97             16
                 2016                  134             28
                 2017                  127             15
      BRISTOL    2014                11790           2629
                 2015                12060           3266
                 2016                14953           3469
                 2017                16380           3601
      DILLINGHAM 2014                   85              4
                 2015                   95              4
                 2016                  139              4
                 2017                   76              2

## Aggregate all state and county level data

### By state
- add population by state
- add household income by state
- gyms by state (10 states only)

### By county

- add population by county
- add household income
- gyms by state (10 states only)

In [54]:

table['County'] = table['County'].apply(lambda x: x.lower())
# table = table.reset_index()
table

offense State      County  data_year  property-crime  violent-crime
0          AK   aleutians       2014            4504            896
1          AK   aleutians       2015            4547           1012
2          AK   aleutians       2016            5228           1143
3          AK   aleutians       2017            5432           1212
4          AK   anchorage       2014             801             61
5          AK   anchorage       2015             875             52
6          AK   anchorage       2016             758             71
7          AK   anchorage       2017             762             64
8          AK      bethel       2014              87             29
9          AK      bethel       2015              97             16
10         AK      bethel       2016             134             28
11         AK      bethel       2017             127             15
12         AK     bristol       2014           11790           2629
13         AK     bristol       2015           12060           3266
14         AK     bristol       2016           14953           3469
15         AK     bristol       2017           16380           3601
16         AK  dillingham       2014              85              4
17         AK  dillingham       2015              95              4
18         AK  dillingham       2016             139              4
19         AK  dillingham       2017              76              2
20         AR    arkansas       2014           17093           2238
21         AR    arkansas       2015           16454           2545
22         AR    arkansas       2016           17598           2854
23         AR    arkansas       2017           15057           2595
24         AR      ashley       2014           18467           2446
25         AR      ashley       2015           20934           2908
26         AR      ashley       2016           20776           3050
27         AR      ashley       2017           19176           3100
28         AR      baxter       2014           15527           2162
29         AR      baxter       2015           15068           2177
..        ...         ...        ...             ...            ...
471        VT       grand       2016              81              8
472        VT       grand       2017              67             10
473        VT    lamoille       2014             871             65
474        VT    lamoille       2015             750             67
475        VT    lamoille       2016             715             81
476        VT    lamoille       2017             839            140
477        VT      orange       2014             563             21
478        VT      orange       2015             562             31
479        VT      orange       2016             614             17
480        VT      orange       2017             537             41
481        VT     orleans       2014             399             30
482        VT     orleans       2015             451             31
483        VT     orleans       2016             371             36
484        VT     orleans       2017             262             43
485        VT     rutland       2014             110              4
486        VT     rutland       2015             180              3
487        VT     rutland       2016              94              6
488        VT     rutland       2017             103              5
489        VT  washington       2014             283             25
490        VT  washington       2015             289             26
491        VT  washington       2016             326             36
492        VT  washington       2017             329             32
493        VT     windham       2014               0              0
494        VT     windham       2015               0              0
495        VT     windham       2016               1              0
496        VT     windham       2017               1              0
497        VT     windsor       2014              18              0
498        VT     windsor       2015               7              0
499        VT     windsor       2016               4              0
500        VT     windsor       2017              12              1

[501 rows x 5 columns]

In [55]:
table = table.merge(crime2017_df[['population', 'state_abbr']], right_on = 'state_abbr', left_on = 'State',how = 'left')
table['State'] = table['State'].map(state_dict)
table.head()

,State,County,data_year,property-crime,violent-crime,population,state_abbr
0,Alaska,aleutians,2014,4504,896,739795,AK
1,Alaska,aleutians,2015,4547,1012,739795,AK
2,Alaska,aleutians,2016,5228,1143,739795,AK
3,Alaska,aleutians,2017,5432,1212,739795,AK
4,Alaska,anchorage,2014,801,61,739795,AK

In [70]:
# Load crime statistics by state for all years
aggregated_2017= table[table['data_year'] == 2017].reset_index(drop = True)
aggregared_2017 = aggregated_2017.rename({'population': 'state population'})
aggregated_2017.head()

,State,County,data_year,property-crime,violent-crime,population,state_abbr
0,Alaska,aleutians,2017,5432,1212,739795,AK
1,Alaska,anchorage,2017,762,64,739795,AK
2,Alaska,bethel,2017,127,15,739795,AK
3,Alaska,bristol,2017,16380,3601,739795,AK
4,Alaska,dillingham,2017,76,2,739795,AK

In [69]:
# export_csv = aggregated_2017.to_csv(r'data/crime_by_county2017_10states.csv', index = None, header=True)

In [78]:
df_crime = pd.read_csv('data/crime_by_county2017_10states.csv')
df_crime

,State,County,data_year,property-crime,violent-crime,population,state_abbr
0,Alaska,aleutians,2017,5432,1212,739795,AK
1,Alaska,anchorage,2017,762,64,739795,AK
2,Alaska,bethel,2017,127,15,739795,AK
3,Alaska,bristol,2017,16380,3601,739795,AK
4,Alaska,dillingham,2017,76,2,739795,AK
5,Arkansas,arkansas,2017,15057,2595,3004279,AR
6,Arkansas,ashley,2017,19176,3100,3004279,AR
7,Arkansas,baxter,2017,14441,2442,3004279,AR
8,Arkansas,benton,2017,5032,1070,3004279,AR
9,Arkansas,boone,2017,16266,3702,3004279,AR
10,Arkansas,bradley,2017,1054,185,3004279,AR
11,Arkansas,calhoun,2017,7344,1180,3004279,AR
12,Arkansas,carroll,2017,2171,447,3004279,AR
13,Arkansas,chicot,2017,2003,339,3004279,AR
14,Arkansas,clark,2017,711,207,3004279,AR
15,Arkansas,clay,2017,255,31,3004279,AR
16,Arkansas,cleburne,2017,779,146,3004279,AR
17,Arkansas,cleveland,2017,98,19,3004279,AR
18,Arkansas,columbia,2017,2006,266,3004279,AR
19,Arkansas,conway,2017,537,65,3004279,AR
20,Arkansas,craighead,2017,16,2,3004279,AR
21,Louisiana,acadia,2017,31810,5043,4684333,LA
22,Louisiana,allen,2017,28177,4752,4684333,LA
23,Louisiana,ascension,2017,23619,5747,4684333,LA
24,Louisiana,assumption,2017,30725,3908,4684333,LA
25,Louisiana,avoyelles,2017,26546,3952,4684333,LA
26,Louisiana,beauregard,2017,8926,1514,4684333,LA
27,Louisiana,bienville,2017,2634,385,4684333,LA
28,Louisiana,bossier,2017,123,11,4684333,LA
29,Louisiana,caddo,2017,0,0,4684333,LA
...,...,...,...,...,...,...,...
96,South Carolina,beaufort,2017,6457,1118,5024369,SC
97,South Carolina,berkeley,2017,11722,1651,5024369,SC
98,South Carolina,calhoun,2017,3861,675,5024369,SC
99,South Carolina,charleston,2017,14921,1882,5024369,SC
100,South Carolina,cherokee,2017,7908,1021,5024369,SC
101,South Carolina,chester,2017,3119,285,5024369,SC
102,South Carolina,chesterfield,2017,1467,176,5024369,SC
103,South Carolina,clarendon,2017,16896,3008,5024369,SC
104,South Carolina,colleton,2017,682,45,5024369,SC
105,South Carolina,darlington,2017,5903,1058,5024369,SC
106,South Carolina,dillon,2017,61,8,5024369,SC
107,South Carolina,dorchester,2017,3383,686,5024369,SC
108,South Carolina,edgefield,2017,378,17,5024369,SC
109,South Carolina,fairfield,2017,59,0,5024369,SC
110,South Carolina,florence,2017,26,10,5024369,SC
111,South Carolina,georgetown,2017,92,20,5024369,SC
112,Vermont,addison,2017,1543,240,623657,VT
113,Vermont,bennington,2017,1472,124,623657,VT
114,Vermont,caledonia,2017,1042,105,623657,VT
115,Vermont,chittenden,2017,1127,101,623657,VT
116,Vermont,essex,2017,724,85,623657,VT
117,Vermont,franklin,2017,236,35,623657,VT
118,Vermont,grand,2017,67,10,623657,VT
119,Vermont,lamoille,2017,839,140,623657,VT
120,Vermont,orange,2017,537,41,623657,VT
121,Vermont,orleans,2017,262,43,623657,VT
122,Vermont,rutland,2017,103,5,623657,VT
123,Vermont,washington,2017,329,32,623657,VT
124,Vermont,windham,2017,1,0,623657,VT
125,Vermont,windsor,2017,12,1,623657,VT

In [86]:
list(df_crime['County'])

['aleutians',
 'anchorage',
 'bethel',
 'bristol',
 'dillingham',
 'arkansas',
 'ashley',
 'baxter',
 'benton',
 'boone',
 'bradley',
 'calhoun',
 'carroll',
 'chicot',
 'clark',
 'clay',
 'cleburne',
 'cleveland',
 'columbia',
 'conway',
 'craighead',
 'acadia',
 'allen',
 'ascension',
 'assumption',
 'avoyelles',
 'beauregard',
 'bienville',
 'bossier',
 'caddo',
 'barnstable',
 'berkshire',
 'bristol',
 'dukes',
 'essex',
 'franklin',
 'hampden',
 'hampshire',
 'middlesex',
 'nantucket',
 'norfolk',
 'plymouth',
 'suffolk',
 'worcester',
 'androscoggin',
 'aroostook',
 'cumberland',
 'franklin',
 'hancock',
 'kennebec',
 'knox',
 'lincoln',
 'oxford',
 'penobscot',
 'belknap',
 'carroll',
 'cheshire',
 'coos',
 'grafton',
 'hillsborough',
 'merrimack',
 'rockingham',
 'strafford',
 'sullivan',
 'atlantic',
 'bergen',
 'burlington',
 'camden',
 'cape',
 'cumberland',
 'essex',
 'gloucester',
 'hudson',
 'hunterdon',
 'mercer',
 'middlesex',
 'monmouth',
 'morris',
 'ocean',
 'passaic',
 'salem',
 'somerset',
 'sussex',
 'union',
 'warren',
 'bernalillo',
 'catron',
 'chaves',
 'cibola',
 'colfax',
 'abbeville',
 'aiken',
 'allendale',
 'anderson',
 'bamberg',
 'barnwell',
 'beaufort',
 'berkeley',
 'calhoun',
 'charleston',
 'cherokee',
 'chester',
 'chesterfield',
 'clarendon',
 'colleton',
 'darlington',
 'dillon',
 'dorchester',
 'edgefield',
 'fairfield',
 'florence',
 'georgetown',
 'addison',
 'bennington',
 'caledonia',
 'chittenden',
 'essex',
 'franklin',
 'grand',
 'lamoille',
 'orange',
 'orleans',
 'rutland',
 'washington',
 'windham',
 'windsor']

In [92]:
df_hospitals = pd.read_csv('data/hospital_county.csv')
df_hospitals['index'] = df_hospitals['index'].apply(lambda x: x.lower())
[print(i) for i in df_hospitals['index'].apply(lambda x: x.split(' ')) if len(i)>=2]

['los', 'angeles']
['san', 'diego']
['san', 'bernardino']
['san', 'juan']
['st.', 'louis']
['el', 'paso']
['new', 'york']
['salt', 'lake']
['east', 'baton', 'rouge']
['palm', 'beach']
['san', 'francisco']
['santa', 'clara']
['baltimore', 'city']
['st.', 'tammany']
['st.', 'louis', 'city']
['district', 'of', 'columbia']
['contra', 'costa']
['fort', 'bend']
['san', 'mateo']
['new', 'haven']
['st.', 'clair']
['san', 'joaquin']
['new', 'castle']
['santa', 'barbara']
['st.', 'joseph']
['st.', 'charles']
['prince', "george's"]
['la', 'salle']
['not', 'available']
['st.', 'landry']
['dona', 'ana']
['richmond', 'city']
['st.', 'lucie']
['santa', 'cruz']
['san', 'luis', 'obispo']
['santa', 'rosa']
['jefferson', 'davis']
['grand', 'forks']
['st.', 'lawrence']
['newport', 'news']
['east', 'feliciana']
['big', 'horn']
['tom', 'green']
['st.', 'croix']
['fond', 'du', 'lac']
['van', 'buren']
['virginia', 'beach']
['grays', 'harbor']
['st.', 'francois']
['indian', 'river']
['fall', 'river']
['cape', 'girardeau']
['red', 'river']
['carson', 'city']
['kenai', 'peninsula']
['lewis', 'and', 'clark']
['el', 'dorado']
['santa', 'fe']
['james', 'city']
['pearl', 'river']
['walla', 'walla']
['rock', 'island']
['fairbanks', 'north', 'star']
['black', 'hawk']
['eau', 'claire']
['prince', 'william']
['anne', 'arundel']
['deaf', 'smith']
['st.', 'mary']
['cerro', 'gordo']
['st.', 'james']
['twin', 'falls']
['hot', 'springs']
['bon', 'homme']
['roanoke', 'city']
['big', 'stone']
['la', 'crosse']
['otter', 'tail']
['la', 'plata']
['box', 'elder']
['hot', 'spring']
['new', 'london']
['charles', 'mix']
['deer', 'lodge']
['san', 'miguel']
['san', 'benito']
['lac', 'qui', 'parle']
['st.', 'martin']
['la', 'paz']
['crow', 'wing']
['van', 'wert']
['san', 'german']
['new', 'hanover']
['silver', 'bow']
['yellow', 'medicine']
['rio', 'blanco']
['san', 'patricio']
['roger', 'mills']
['st', 'joseph']
['scotts', 'bluff']
['jim', 'wells']
['aleutians', 'west']
['le', 'sueur']
['rio', 'grande']
['saint', 'croix']
['mille', 'lacs']
['vega', 'baja']
['west', 'feliciana']
['st.', 'john', 'the', 'baptist']
['rio', 'arriba']
['blue', 'earth']
['east', 'carroll']
['las', 'animas']
['franklin', 'city']
['ben', 'hill']
['northwest', 'arctic']
['de', 'soto']
['kit', 'carson']
['val', 'verde']
['hood', 'river']
['bedford', 'city']
['st.', 'francis']
['sweet', 'grass']
['cabo', 'rojo']
['bear', 'lake']
['san', 'augustine']
['del', 'norte']
['grand', 'traverse']
['presque', 'isle']
['st.', 'johns']
['de', 'witt']
['des', 'moines']
['little', 'river']
['prince', 'edward']
['ketchikan', 'gateway']
['jo', 'daviess']
['los', 'alamos']
['white', 'pine']
['cape', 'may']
['st.', 'helena']
['le', 'flore']
['saint', 'bernard']
['pointe', 'coupee']
['box', 'butte']
['ste.', 'genevieve']
['north', 'slope']
['palo', 'pinto']
['pend', 'oreille']
['kodiak', 'island']
['van', 'zandt']
['red', 'willow']
['jeff', 'davis']
['buena', 'vista']
['west', 'carroll']
['st.', "mary's"]
['new', 'kent']
['nez', 'perce']
['lake', 'of', 'the', 'woods']
['green', 'lake']
['palo', 'alto']
['st.', 'bernard']

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [133]:
df_gym = pd.read_csv('data/county gym count.csv', header = None)
df_gym [1] = df_gym [1].apply(lambda x: x.lower())
df_gym.head()

    0               1     2
0  AK  aleutians east   0.0
1  AK  aleutians west   0.0
2  AK       anchorage  98.0
3  AK          bethel   0.0
4  AK     bristol bay   0.0

In [134]:
df_agencies = pd.read_csv('data/agencies.csv')
df_agencies['County'] = df_agencies['County'].apply(lambda x: x.strip().lower())
df_agencies['State'] = df_agencies['State'].apply(lambda x: x.strip())
df_agencies.head()

  State   County  County FIPS                      Agency Name Agency ORI9
0    AL  autauga          1.0  AUTAUGA COUNTY SHERIFF'S OFFICE   AL0040000
1    AL  baldwin          3.0   AUTAUGAVILLE POLICE DEPARTMENT   AL0040200
2    AL  barbour          5.0     PRATTVILLE POLICE DEPARTMENT   AL0040100
3    AL  autauga          1.0  BALDWIN COUNTY SHERIFF'S OFFICE   AL0050000
4    AL  baldwin          3.0    BAY MINETTE POLICE DEPARTMENT   AL0050100

In [135]:
df_unemployment = pd.read_csv('data/county_state_by_unemployment_rate.csv')
df_unemployment['County'] = df_unemployment['County'].apply(lambda x: x.split(' ')[0].lower().strip())
df_unemployment['State'] = df_unemployment['State'].apply(lambda x: str(x).strip())
df_unemployment.head()

   FIPS   County State  Unemployment Rate
0     1  autauga    AL                3.9
1     3  baldwin    AL                4.0
2     5  barbour    AL                5.9
3     7     bibb    AL                4.4
4     9   blount    AL                4.0

In [139]:
merged_df = df_agencies.merge(df_unemployment, how = 'left', left_on=['County','County FIPS', 'State'], right_on = ['County','FIPS', 'State'])
merged_df.drop(columns = ['FIPS'])

,State,County,County FIPS,Agency Name,Agency ORI9,Unemployment Rate
0,AL,autauga,1.0,AUTAUGA COUNTY SHERIFF'S OFFICE,AL0040000,3.9
1,AL,baldwin,3.0,AUTAUGAVILLE POLICE DEPARTMENT,AL0040200,4.0
2,AL,barbour,5.0,PRATTVILLE POLICE DEPARTMENT,AL0040100,5.9
3,AL,autauga,1.0,BALDWIN COUNTY SHERIFF'S OFFICE,AL0050000,3.9
4,AL,baldwin,3.0,BAY MINETTE POLICE DEPARTMENT,AL0050100,4.0
5,AL,barbour,5.0,DAPHNE POLICE DEPARTMENT,AL0050800,5.9
6,AL,bibb,7.0,ELBERTA POLICE DEPARTMENT,AL0051000,4.4
7,AL,blount,9.0,FAIRHOPE POLICE DEPARTMENT,AL0050200,4.0
8,AL,bullock,11.0,FAULKNER STATE COMMUNITY COLLEGE POLICE DEPT,AL0051100,4.9
9,AL,butler,13.0,FOLEY POLICE DEPARTMENT,AL0050300,5.5
10,AL,calhoun,15.0,GULF SHORES POLICE DEPARTMENT,AL0050400,4.9
11,AL,chambers,17.0,LOXLEY POLICE DEPARTMENT,AL0050600,4.1
12,AL,cherokee,19.0,ORANGE BEACH POLICE DEPARTMENT,AL0051200,4.1
13,AL,chilton,21.0,ROBERTSDALE POLICE DEPARTMENT,AL0050500,4.0
14,AL,choctaw,23.0,SILVERHILL POLICE DEPARTMENT,AL0050700,6.4
15,AL,clarke,25.0,SPANISH FORT POLICE DEPARTMENT,AL0051300,8.5
16,AL,clay,27.0,SUMMERDALE POLICE DEPARTMENT,AL0050900,4.4
17,AL,autauga,1.0,BAKER HILL POLICE DEPARTMENT,AL0060700,3.9
18,AL,baldwin,3.0,BARBOUR COUNTY SHERIFF'S OFFICE,AL0060000,4.0
19,AL,barbour,5.0,CLAYTON POLICE DEPARTMENT,AL0060200,5.9
20,AL,bibb,7.0,CLIO POLICE DEPARTMENT,AL0060300,4.4
21,AL,blount,9.0,EUFAULA POLICE DEPARTMENT,AL0060100,4.0
22,AL,bullock,11.0,LOUISVILLE POLICE DEPARTMENT,AL0060400,4.9
23,AL,autauga,1.0,BIBB COUNTY SHERIFF'S OFFICE,AL0070000,3.9
24,AL,baldwin,3.0,BRENT POLICE DEPARTMENT,AL0070200,4.0
25,AL,barbour,5.0,CENTREVILLE POLICE DEPARTMENT,AL0070100,5.9
26,AL,bibb,7.0,WEST BLOCTON POLICE DEPARTMENT,AL0070300,4.4
27,AL,blount,9.0,WOODSTOCK POLICE DEPARTMENT,AL0070400,4.0
28,AL,autauga,1.0,BLOUNT COUNTY SHERIFF'S OFFICE,AL0080000,3.9
29,AL,baldwin,3.0,BLOUNTSVILLE POLICE DEPARTMENT,AL0080200,4.0
...,...,...,...,...,...,...
22261,WY,carbon,7.0,NATRONA COUNTY SHERIFF'S OFFICE,WY0130000,4.0
22262,WY,albany,1.0,LUSK POLICE DEPT,WY0140100,2.8
22263,WY,big horn,3.0,NIOBRARA COUNTY SHERIFF'S OFFICE,WY0140000,NaN
22264,WY,albany,1.0,CODY POLICE DEPARTMENT,WY0150100,2.8
22265,WY,big horn,3.0,PARK COUNTY SHERIFF'S OFFICE,WY0150000,NaN
22266,WY,campbell,5.0,POWELL POLICE DEPARTMENT,WY0150200,4.9
22267,WY,albany,1.0,GUERNSEY POLICE DEPARTMENT,WY0160200,2.8
22268,WY,big horn,3.0,PLATTE COUNTY SHERIFF'S OFFICE,WY0160000,NaN
22269,WY,campbell,5.0,WHEATLAND POLICE DEPT,WY0160100,4.9
22270,WY,albany,1.0,SHERIDAN COLLEGE POLICE DEPARTMENT,WY0170400,2.8
22271,WY,big horn,3.0,SHERIDAN COUNTY SHERIFF'S OFFICE,WY0170000,NaN
22272,WY,campbell,5.0,SHERIDAN POLICE DEPARTMENT,WY0170100,4.9
22273,WY,albany,1.0,BIG PINEY PD,WY0180200,2.8
22274,WY,big horn,3.0,MARBLETON PD,WY0180300,NaN
22275,WY,campbell,5.0,PINEDALE PD,WY0180100,4.9
22276,WY,carbon,7.0,SUBLETTE COUNTY SHERIFF'S OFFICE,WY0180000,4.0
22277,WY,albany,1.0,GREEN RIVER POLICE DEPT,WY0190100,2.8
22278,WY,big horn,3.0,ROCK SPRINGS POLICE DEPT,WY0190200,NaN
22279,WY,campbell,5.0,SWEETWATER COUNTY SHERIFF'S OFFICE,WY0190000,4.9
22280,WY,carbon,7.0,WAMSUTTER PD,WY0190500,4.0
22281,WY,albany,1.0,JACKSON POLICE DEPARTMENT,WY0200100,2.8
22282,WY,big horn,3.0,TETON COUNTY SHERIFF'S OFFICE,WY0200000,NaN
22283,WY,albany,1.0,EVANSTON POLICE DEPARTMENT,WY0210100,2.8
22284,WY,big horn,3.0,LYMAN POLICE DEPARTMENT,WY0210300,NaN
22285,WY,campbell,5.0,UINTA COUNTY SHERIFF'S OFFICE,WY0210000,4.9
22286,WY,albany,1.0,WASHAKIE COUNTY SHERIFF'S OFFICE,WY0220000,2.8
22287,WY,big horn,3.0,WORLAND POLICE DEPARTMENT,WY0220100,NaN
22288,WY,albany,1.0,NEWCASTLE POLICE DEPT,WY0230100,2.8
22289,WY,big horn,3.0,UPTON POLICE DEPARTMENT,WY0230200,NaN
22290,WY,campbell,5.0,WESTON COUNTY SHERIFF'S OFFICE,WY0230000,4.9